.ng-hide-add, .ng-hide-remove {
    display: block !important; 
}

.cssFade {
    transition: .3s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}


.cssSlideUp {
    transition: 1s linear all;

}
.cssSlideUp.ng-hide {
    height:0;
}









